<a href="https://colab.research.google.com/github/EliasMwangi-DataAnalyst/Python/blob/main/Jovian_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basics

In [ ]:
name = "Eli Ma"

In [ ]:
age = 24

In [ ]:
has_android_phone = True

In [ ]:
name, age, has_android_phone

('Eli Ma', 24, True)

In [ ]:
person = {
    "Name": "Eli Ma",
    "Age": 24,
    "HasAndroidPhone": False
}

In [ ]:
print("{} is aged {}, and owns an {}.".format(
    person["Name"],
    person["Age"],
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

Eli Ma is aged 24, and owns an iPhone.

In [ ]:
person.keys()

dict_keys(['Name', 'Age', 'HasAndroidPhone'])

In [ ]:
import builtins
for key, value in (person.items()):
  print(f"The key '{key}' has the value '{value}' of the type {builtins.type(value)}")

The key 'Name' has the value 'Eli Ma' of the type <class 'str'>
The key 'Age' has the value '24' of the type <class 'int'>
The key 'HasAndroidPhone' has the value 'False' of the type <class 'bool'>

## Lists

In [ ]:
my_list = ["red", "dog", "cat", True]

In [ ]:
type(my_list)

list

In [ ]:
print("My favourite color is", my_list[0])

My favourite color is red

In [ ]:
print("I have {} pets.".format(my_list[3:4]))

I have [True] pets.

In [ ]:
my_list[3:4]

[True]

In [ ]:
if my_list[3] == 0:
  print("I have previous programming experience")
else:
  print("I do not have previous programming experience")

I do not have previous programming experience

In [ ]:
my_list.append(7)

In [ ]:
my_list.count

In [ ]:
my_list.pop(0)

'red'

In [ ]:
help(list)

In [ ]:
print("The list has {} elements".format(len(my_list)))

The list has 4 elements

In [ ]:
len(my_list)

4

## Conditions and Loops

In [1]:
# sum of numbers divisible by 7 between 18 and 534
sum_of_numbers=sum(range(18, 535, 7))
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20239

A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?

In [3]:
cost_of_flying_plane = 5000

In [4]:
number_of_passengers = 29

In [5]:
price_of_ticket= 200

In [9]:
profit= (price_of_ticket*number_of_passengers) - cost_of_flying_plane
print("The company makes a profit of {} dollars".format (profit))

The company makes a profit of 800 dollars

Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.

In [10]:
# variable for return passengers
number_of_passengers_return = 12

In [11]:
profit_return = (number_of_passengers_return * price_of_ticket) - 5000
profit_return

-2600

In [12]:
overall_profit = profit + profit_return

In [15]:
if overall_profit>=1:
  print("The company makes an overall profit of {} dollars".format(overall_profit))
else:
  print("The company makes an overall loss of {} dolars".format(overall_profit))

The company makes an overall loss of -1800 dolars

Twitter Sentiment Analysis

In [57]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

In [24]:
# tweets the dataset contains
number_of_tweets= len(tweets)
number_of_tweets

10

In [91]:
# Create two lists with happy and sad words to check the tweets
#List of happy words
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

# list of sad words
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [41]:
# identify whether a tweet is happy
sample_tweet= tweets[5]

is_tweet_happy = False
# Get a word in happy words
for word in happy_words:
  # Check if the tweet contains the word
  if word in sample_tweet:
    #word found! Mark the tweet as happy
    is_tweet_happy = True

In [52]:
is_tweet_happy

False

In [89]:
# initialize a counter for happy tweets
number_of_happy_tweets = 0

# iterate though each tweet
for tweet in tweets:
  # check if any happy word is in tweet
  if any(word in tweet for word in happy_words):
    number_of_happy_tweets +=1

In [90]:
#Output number of happy tweets
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6